body {
  background-color: rgb(253, 251, 251);
  font-family: 'Montserrat', sans-serif;
  line: height 2%;
  font-size: 17px;
}

#cabecalho {
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 70%);
  height: 100px;
  width: 100%;
  color: white;
}

#titulo {
  text-align: center;
}

img {
  margin-top: 110px;
  padding: 20px;
  border-radius: 80px;
}

a {
  color: white;
  font-weight: bolder;
  text-decoration: none;
  padding-left: 20px;
}

.listas {
  display: inline-flex;
}

article {
  border-color: blue;
  border-style:groove;
}

section {
  border-color: red;
  border-style: dotted;
}

footer {
 margin: 10px;
 background-color: black;
 color: white;
 padding: 40px;
 width: 100%;
}