body {
  background-color: rgb(253, 251, 251);
  font-family: 'Montserrat', sans-serif;
  line-height: 1.86;

}

#cabecalho {
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 70%);
  height: 130px;
  width: 100%;
  color: white;
}

#titulo {
  text-align: center;
  font-size: 2em;
}

img {
  margin-top: 110px;
  padding: 20px;
  border-radius: 80px;
}

a {
  color: white;
  font-weight: bolder;
  text-decoration: none;
  padding-left: 20px;
}

.listas {
  display: inline-flex;
  line-height: 1.6;
  font-size: 14px;
  width: 100%;
}

article {
  border-color: blue;
  border-style:groove;
}

section {
  border-color: red;
  border-style: dotted;
}

footer {
  margin: 10px;
  background-color: black;
  color: white;
  padding: 40px;
  width: 100%;
}

.lado-esquerdo{
display: flex;
}

.lado-direito{
display: flex;
}