body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 50%);
  height: 100px;
  width: 100%;
}

#titulo {
  text-align: center;
}

img {
  margin-top: 110px;
  padding: 20px;
  border-radius: 80px;
}

a{
  color: black;
  font-weight: bolder;
  text-decoration: none;
}

.listas{
  display:inline-flex;
}

section{
  width: 500px;
  border-color: blueviolet;
  border-style: dashed;
  display: inline-flex;
}